##### pandas - DataFrame 클래스 : 행(row)과 열(column)로 이루어진 2차원 리스트이다.

In [6]:
import pandas as pd 
# 1. 시리즈 결합해서 데이터프레임 만들기 
index = ["2018", "2019", "2020", "2021"]

younghee = pd.Series([143,150,157,160], index = index)
cheolsu = pd.Series([165,172,175,180], index = index)

growth = pd.DataFrame({
    '영희': younghee, 
    '철수': cheolsu    
})
print(growth)
# print(growth.columns) #칼럼
# print(growth.values)  #값

# 열 선택 + Series 타입 출력, 1차원 
# print(growth['철수'])

# 열이름 출력 + DataFrame 타입 출력, 2차원
#print(growth[['철수']])
# print(growth.loc['2020'])
# print(growth.iloc[2])

# 변수.loc[변수['']==DATA, :] -> 데이터를 입력해서 행 전체를 출력하는 코드 
print(growth.loc[growth['영희']==143, :])
# 다중 행 선택 
print(growth.loc[['2020','2021']])

# 특정 요소 1개 출력 
# Loc[행(문자),열(문자)], iloc[행(숫자),열(숫자)]
print(growth.loc['2020','철수'])
print(growth.iloc[1,0])

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180
       영희   철수
2018  143  165
       영희   철수
2020  157  175
2021  160  180
175
150

In [13]:
# 일반적인 데이터프레임 만들기 
index = ["2018", "2019", "2020", "2021"]

data = {
    '영희': [143,150,157,160],
    '철수': [165,172,175,180]
}
growth = pd.DataFrame(data, index=index)

# 열 추가 - 시현
growth['시현'] =[155,160,165,170]
print(growth)

growth.loc["2022"] = [162, 181, 172]
print(growth)


# 행 삭제 - 2020년 
# 복사 - 원본 유지(깊은 복사 - 원본과 별도로 삭제, 수정) - copy()
growth2 = growth.copy()
growth2 = growth2.drop('2020', axis =0) #행 삭제 (axis = 0 생략 가능)
print(growth2)

# 열 삭제 = '철수' 삭제 
growth3 = growth.copy()
growth3 = growth3.drop('철수', axis =1) #열 삭제 
print(growth3)

       영희   철수   시현
2018  143  165  155
2019  150  172  160
2020  157  175  165
2021  160  180  170
       영희   철수   시현
2018  143  165  155
2019  150  172  160
2020  157  175  165
2021  160  180  170
2022  162  181  172
       영희   철수   시현
2018  143  165  155
2019  150  172  160
2021  160  180  170
2022  162  181  172
       영희   시현
2018  143  155
2019  150  160
2020  157  165
2021  160  170
2022  162  172

In [8]:
import pandas as pd 
# 1. 시리즈 결합해서 데이터프레임 만들기 
index = ["재천", "선영", "일성"]

korean = pd.Series([90,80,70], index = index)
math = pd.Series([80,75,95], index = index)
english = pd.Series([85,95,100], index = index)

grade = pd.DataFrame({
    '국어': korean, 
    '수학': math,
    '영어': english,
})

grade

    국어  수학   영어
재천  90  80   85
선영  80  75   95
일성  70  95  100

In [30]:
# csv 파일 만들기 
index=["2018","2019","2020","2021"]

data = {
    '영희': [143,150,157,160],
    '철수': [165,172,175,180]
}

growth = pd.DataFrame(data, index=index)
growth.to_csv('./datas/growth.csv')

# csv 파일 읽기 - to_read_csv(경로)
growth = pd.read_csv('./datas/growth.csv', index_col=0)
print(growth)

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [2]:
# 2차원 리스트 데이터로 프레임 만들기 

import pandas as pd 

data = [[143, 165], [150,172], [157,175], [160,180]]
index = ["2018", "2019", "2020", "2021"]

growth = pd.DataFrame(data, columns = ['영희','철수'], index = index)
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [15]:
# 얕은 복사와 깊은 복사 



# 얕은 복사 - 복사본을 수정하면 원본도 수정된다 # 얕은 복사 
a = [1,2,3,4]
a
b = a # a리스트에 b 저장함 
b
b[1] = 10 
b
print(a,b)

# 깊은 복사 - 복사본을 수정해도 원본은 유지된다 . copy()# 깊은 복사 
c = [1,2,3,4,]
c
d = c.copy()
d
d[1] = 10 
print(c,d)

[1, 10, 3, 4] [1, 10, 3, 4]
[1, 2, 3, 4] [1, 10, 3, 4]

In [22]:
import pandas as pd 

# 인덱스를 칼럼 이름으로 설정하는 방법 
data = {
    '연도': ["2018", "2019", "2020", "2021"],
    '영희': [143,150,157,160],
    '철수': [165,172,175,180]
}

growth = pd.DataFrame(data)
growth.set_index('연도')

       영희   철수
연도
2018  143  165
2019  150  172
2020  157  175
2021  160  180